name: Publish
on:
  push:
    branches: [ main ]
jobs:
  detect:
    steps:
      - uses: tj-actions/changed-files@v47
        with:
          base_branch: main
        id: changed
      - uses: ${{ vars.SCRIPT_REPO }}/.github/actions/${{ vars.DETECT_SCRIPT }}@main
        with:
          changed: ${{ toJSON(steps.changed.outputs.all_changed_files) }}
          extension: yaml
        id: matrix
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    runs-on: ubuntu-latest
  publish:
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            ${{ matrix.scope }}/${{ matrix.service }}/${{ matrix.domain }}.${{ matrix.usecase }}.${{ matrix.version }}.yaml
            *.gradle.kts
            gradle/
            gradlew
      - uses: ${{ vars.ACTION_REPO }}/.github/actions/${{ vars.PUBLISH_ACTION }}@main
        with:
          scope: ${{ matrix.scope }}
          service: ${{ matrix.service }}
          domain: ${{ matrix.domain }}
          usecase: ${{ matrix.usecase }}
          version: ${{ matrix.version }}
          rest_pat: ${{ secrets.REST_PAT }}
          starter_pat: ${{ secrets.STARTER_PAT }}
          repo: ${{ vars.STARTER_REPO }}
          event: ${{ vars.PUBLISH_EVENT }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.detect.outputs.matrix) }}
    needs: detect
    runs-on: ubuntu-latest
