name: Publish
on:
  push:
    branches: [ main ]
jobs:
  detect-changes:
    steps:
      - uses: actions/checkout@v4
        with:
          repository: hamsaqua/script
          fetch-depth: 1
          path: ${{ runner.temp }}/script
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - run: bash ${{ runner.temp }}/script/api/publish
        id: detect
    outputs:
      matrix: ${{ steps.detect.outputs.matrix }}
    runs-on: ubuntu-latest
  publish:
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: |
            ${{ matrix.scope }}/${{ matrix.service }}/${{ matrix.domain }}.${{ matrix.usecase }}.${{ matrix.version }}.yaml
            *.gradle.kts
            gradle/
            gradlew
      - uses: hamsaqua/action/.github/actions/publish-rest@main
        with:
          scope: ${{ matrix.scope }}
          service: ${{ matrix.service }}
          domain: ${{ matrix.domain }}
          usecase: ${{ matrix.usecase }}
          version: ${{ matrix.version }}
          tag: ${{ github.sha }}
          in_pat: ${{ secrets.REST_PAT }}
          ex_pat: ${{ secrets.STARTER_PAT }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.detect-changes.outputs.matrix) }}
    needs: detect-changes
    runs-on: ubuntu-latest
