name: Publish
on:
  push:
    branches: [ main ]
jobs:
  detect:
    steps:
      - uses: tj-actions/changed-files@v47
        with:
          base_branch: main
        id: changed
      - uses: ${{ vars.SCRIPT_REPO }}/.github/actions/${{ vars.SCRIPT_DETECT }}@main
        with:
          changed: ${{ toJSON(steps.changed.outputs.all_changed_files) }}
          extension: yaml
        id: matrix
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    runs-on: ubuntu-latest
  publish:
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            ${{ matrix.domain }}/${{ matrix.usacase }}/${{ matrix.version }}/${{ matrix.module }}.yaml
            ${{ matrix.domain }}/${{ matrix.usacase }}/${{ matrix.version }}/clientship.yaml
            *.gradle.kts
            gradle/
            gradlew
      - uses: ${{ vars.REPO_ACTION }}/.github/actions/${{ vars.ACTION_PUBLISH }}@main
        with:
          domain: ${{ matrix.domain }}
          usecase: ${{ matrix.usecase }}
          version: ${{ matrix.version }}
          module: ${{ matrix.module }}
          tld: ${{ vars.TLD }}
          org: ${{ vars.ORG }}
          rest_repo: ${{ vars.REPO_REST }}
          artifact_repo: ${{ vars.REPO_ARTIFACT }}
          dispatch: ${{ vars.DISPATCH_PUBLISH }}
          rest_pat: ${{ secrets.PAT_REST }}
          artifact_pat: ${{ secrets.PAT_ARTIFACT }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.detect.outputs.matrix) }}
    needs: detect
    runs-on: ubuntu-latest
